<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Spring MVC Annotation -->
	<context:annotation-config />
	<mvc:annotation-driven />
	<!-- Cấu hình template -->
	<mvc:resources mapping="/template/**"
		location="/template" cache-period="31556926" />
		
	<!-- Cấu hình view -->
	<bean id="viewResolver" p:prefix="/WEB-INF/views/layout-dispatcher.jsp?view=" p:suffix=".jsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" />

	<!-- Cấu hình package chứa các controller -->
	<context:component-scan
		base-package="poly" />
	
	<!-- Khai báo Interceptor -->
	<mvc:interceptors>
		<!-- Chỉ lọc các URL theo path -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/**.htm"/>
			<bean class="poly.interceptor.Interceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>